<!-- index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Data Driven: Music Genre Classification & Recommendation</title>
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
        {% if music_file %}
            <audio controls>
                <source src="{{ url_for('static', filename='music/' + music_file) }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        {% endif %}
    </body>
</html>
